form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background-color: #efefef;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /* outline: none; */
    outline: invert;
    outline-color: rgb(74, 159, 255);
  }
  
  button[type="submit"] {
    height: 40px;
    padding: 0 20px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e60023;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .resultados {
    position: fixed;
    top: 10%;
    right: 12%;
    left: 16%;
    bottom: 100%;
    /* margin-top: 44%; */
    width: 950px;
    height: 600px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    z-index: 999;
    display: none;
  }
  
  .card {
    display: inline-block; /* Permite apilar las cajas juntas */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0.5%;
  }
  
  .card-item img {
    display: flex;
    width: 200px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 30px;
    /* filter: brightness(80%) saturate(90%); */
  }

  .titulo-card-1{
    position: relative;
    text-align: center;
  }

  /*Código de referencia al efecto de las tarjetas https://codepen.io/cassidoo/pen/RZOWQb */
  .titulo-card-1:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-1:hover::before, .titulo-card-1:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-1:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }
  
  .titulo-card-1 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-2{
    position: relative;
    text-align: center;
  }

  .titulo-card-2:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-2:hover::before, .titulo-card-2:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-2:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-2 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-3{
    position: relative;
    text-align: center;
  }

  .titulo-card-3:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-3:hover::before, .titulo-card-3:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-3:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-3 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-4{
    position: relative;
    text-align: center;
  }

  .titulo-card-4:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-4:hover::before, .titulo-card-4:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-4:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-4 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-5{
    position: relative;
    text-align: center;
  }

  .titulo-card-5:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-5:hover::before, .titulo-card-5:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-5:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-5 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-6{
    position: relative;
    text-align: center;
  }

  .titulo-card-6:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-6:hover::before, .titulo-card-6:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-6:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-6 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-7{
    position: relative;
    text-align: center;
  }

  .titulo-card-7:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-7:hover::before, .titulo-card-7:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-7:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-7 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-card-8{
    position: relative;
    text-align: center;
  }

  .titulo-card-8:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-card-8:hover::before, .titulo-card-8:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-card-8:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-card-8 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }


  .titulo-popu-1{
    position: relative;
    text-align: center;
  }

  .titulo-popu-1:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-popu-1:hover::before, .titulo-popu-1:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-popu-1:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-popu-1 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-popu-2{
    position: relative;
    text-align: center;
  }

  .titulo-popu-2:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-popu-2:hover::before, .titulo-popu-2:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-popu-2:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-popu-2 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-popu-3{
    position: relative;
    text-align: center;
  }
  
  .titulo-popu-3:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-popu-3:hover::before, .titulo-popu-3:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-popu-3:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-popu-3 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  .titulo-popu-4{
    position: relative;
    text-align: center;
  }

  .titulo-popu-4:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .titulo-popu-4:hover::before, .titulo-popu-4:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 205px;
    height: 105px;
    background: #F15A59;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .titulo-popu-4:hover:after {
    background: #D21312;
    animation: 2s counterclockwise infinite;
  }

  .titulo-popu-4 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }

  .card-item:hover img {
    /* transform: scale(1); */
    filter: brightness(80%) saturate(90%);
  }

  .btn-round {
    border-radius: 50%;
    width: 150px;
    height: 40px;
    background-color:gray;
    border: none;
    position: relative;
  }
  
  .close-icon {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }
  
  .label-with-button {
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow 0.1s ease-in-out;
  }
  
  .button-in-label {
    background-color: rgb(214, 214, 214);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 10px;
  }
  
  .label-with-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .busquedasR {
    margin-top: 2%;
    margin-left: 2%;
  }